html
  head
    title 数据配置平台
    style
      include ../common/common.css
    style
      include editer.css
    script(src="http://www.zeptojs.cn/zepto.min.js")
    script
      include ../common/common.js
    script
      include editer.js
  body
    div.header
      div.header-left 内容配置平台
      div.header-right 创建 
    div.item-title
      div.name 项目名称
      input(class = "title input-content")
    div.item-title
      div.name 持有者
      input(class = "title input-content")
    div.all
      textarea.editer-data(name = "textArea")
      div.editer-input
      pre.editer-result 
    div.button-group
      div(class = "button addItem-input") 生成inputTree
      div(class = "button addItem-json") 生成json
      div(class = "button addItem-add") add添加
      