html
  head
    title 数据配置平台
    style
      include ../common/common.css
    style
      include index.css
    script(src="http://www.zeptojs.cn/zepto.min.js")
    script
      include ../common/common.js
    script
      include index.js
  body
    div.header
      div.header-left 内容配置平台
      div.header-right 创建   
    div.content
      //- - for(var i=0; i<20; i++)
      //-   div.item 
      //-     div(class = "item-name text") 项目名称#{i+1}
      //-     div(class = "item-edit text") 编辑
      //-     div(class = "item-delete text") 删除