html
  head
    title login
    style
      include ../common/common.css
    style
      include login.css
    script(src="http://www.zeptojs.cn/zepto.min.js")
    script
      include ../common/common.js
    script
      include login.js
  body
    div.login
      p.login-header login
      input.login-name(type = "text" name = "login-name" value = "")
      input.login-pass(type = "text" name = "login-pass" value = "")
      br
      div(class='submit button') 登录
    div.sign
      p.sign-header sign
      input.sign-name(type = "text" name = "sign-name" value = "")
      input.sign-pass(type = "text" name = "sign-pass" value = "")
      br
      div(class='submit button') 注册
    
