html
  head
    title login
    style
      include ../common/common.css
    style
      include login.css
    script(src="http://www.zeptojs.cn/zepto.min.js")
    script
      include ../common/common.js
    script
      include login.js
  body
    div.login
      p.login-header login
      input.login-name(type = "text" name = "name")
      input.login-pass(type = "text" name = "pass")
    
